#topcontent {
  background-image: none;
  height: 25vh;
}

.container-fluid{
  background-color: #566c2b;
 
}
.navbar{
  padding: 0%;
}

.logocenter{
  width: 25%;
  height: auto;
  display: block;
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
  border-radius: 10px;
  min-width:200px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: -25px;
}

#bh1, #bh2, #bh3, #bh4{
  width: 325px;
  height: 275px;
}

#bh1, #bh3{
text-decoration: none;
background-image: none;
color: black;
}

#bh2, #bh4{
  background-image: url(https://placehold.co/325x275);
}

.historyp {
  max-width: 1000px;
  margin: auto;
  padding-top:20px;
  padding-bottom:20px;
}

#overview{
  width: 70vw;
}

@media screen and (max-width:660px){
  .historyp{
    font-size: 15px;
  }
}

@media screen and (max-width:450px){
  .historyp{
    font-size: 12px;
  }
}