body {
    background-color: yellow;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ID Selector */
  #main-heading {
    color: blue;
    text-shadow: 1px 1px #000000;
  }

  .primary {
    border: 2px solid blue;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 40px; /* Adjust this value to change the roundness of the corners */
  }

  .indented-paragraph {
    text-indent: 5em; /* You can adjust the indentation as needed */
  }
  