/* Color Theme Swatches in Hex */
/* #CC3A67 */
/* #161A59 */
/* #101240 */
/* #0A0B26 */
/* #0ABFBF */

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ---------------Utility Classes--------------- */
.container {
    margin: auto;
    padding: 40px;
}

/* ---------------Responsive Images--------------- */

img {
    max-width: 100%;
    height: auto;
}

/* ---------------Global Styles----------------- */

body {
    font-family: 'Carter One', monospace;
    background-color: darkseagreen;
}

main {
    background-color: yellowgreen;
    width: 80vw;
    /* Long form */
    margin: 40px auto 40px auto;
    border: 2px solid #0ABFBF;
    border-radius: 4px;
}

header.primary {
    background-color: #60967e;
    background-image: url("../images/IMG_20240208_114214819_HDR-EDIT.jpg"), url("../images/IMG_20240208_111823989_HDR.jpg");
    background-size: 50% 100%, cover;
    background-position: left, center;
    background-repeat: no-repeat;
}

header.primary .hgroup {
    width: 60%;
    margin-left: 20px; /* Adjust the value to move the title to the right */
}

.hgroup h1, .hgroup hw {
    margin: 0;
}

header.primary .hgroup h1 a {
    color: rgb(35, 78, 35);
    text-decoration: none;
    text-shadow: 1px 1px yellowgreen;
    font-size: 2.9rem;
}

header.primary .hgroup h2 {
    color: yellowgreen;
    text-shadow: 1px 1px rgb(35, 78, 35);
    font-size: 1.4;
    line-height: 1.2;
}

header.primary nav {
    width: 30%;
    margin: 0;
}

header.priamry nav ul {
    list-style-type: none;
    margin: 0;
}

header.primary nav ul li {
    margin-bottom: 10px;
}


/* Add the following rules to your CSS file */

header.primary nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Change display to flex */
}

header.primary nav ul li {
    margin-bottom: 10px;
    display: inline-flex; /* Change display to inline-flex */
}

header.primary nav a {
    color: lightgreen;
    text-decoration: none;
    background-color: green;
    display: block;
    padding: 10px;
    border-radius: 20px 0;
    border: 1px solid gold;
    border-right: 11px solid gold;
    text-align: right;
    white-space: nowrap; /* Prevent text from wrapping */
}

#content h2, #content h3 {
    color: darkgreen;
    border-left: 7.5px solid chocolate;
    border-radius: 15px 0;
    padding: 7.5px;
}

#blog {
    background: rgb(34, 193, 195);
    background: linear-gradient(4deg, rgba(34, 193, 195, 1) 0%, rgba(16, 77, 115, 1) 100%);
    padding: 20px 0;
    border-top: 6px double #0a96a6;
    border-bottom: 6px double #0a96a6;
}

#blog h2 {
    color: gold;
    text-shadow: 2px 2px #000000;
    font-size: 2.2rem;
    margin-left: 20px;
}

article.post {
    background-color: yellow;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
    grid-gap: 20px;
}

article.post figure {
    grid-area: figure;
    margin: 0;
}

article.post header {
    grid-area: header;
}

article.post .post-content {
    grid-area: post-content;
}

article.post .post-meta {
    grid-area: footer;
}

aside .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

aside .widget:first-of-type {
    border-right: 1px dotted #104d73;
    padding-right: 20px;
}

#colophon {
    text-align: center;
    background-image: url("https://puypuy3.files.wordpress.com/2023/08/flag-of-the-mreh-2023.png?w=900");
    padding: 20px;
    color: #ffffff;
    line-height: 1;
  }
  
  #colophon h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
   
header.primary .hgroup .logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

