/* -------- Course Homepage Stylesheet --------- */


/* Type Selector */
body{
    background-color:greenyellow;
    font-family: 'Kanit', sans-serif;

    
}

/* ID Selector */

#main-heading{
    color:blue;
    text-shadow: 1px 1px #000000;
}


/* Class Selector */

.primary{
    border: 2px solid #000000;
    padding: 10px;
}

/* --- psuedo selector --- */

a:link, a:visited{
 color:purple;
}

