table,
td,
th {
  border: 1px solid;
}

table td,
th {
  padding: 0.5rem;
}

#error-message {
    color: red;
}

div.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-auto-rows: minmax(100px, auto); /* Adjust row height as needed */
    gap: 1rem;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  